general settings variables
Hide atoms = 0
Hide bonds = 0
Transparency = 0.700000
Background color Red = 1.000000
Background color Green = 1.000000
Background color Blue = 1.000000
Extra color Red = 0.300000
Extra color Green = 0.300000
Extra color Blue = 0.300000
Label color Red = 0.000000
Label color Green = 0.000000
Label color Blue = 0.000000
Plus  color Red = 0.953000
Plus  color Green = 0.082000
Plus  color Blue = 0.020000
Minus color Red = 0.114000
Minus color Green = 0.686000
Minus color Blue = 0.286000
Fatness atoms = 1.664640
Fatness bonds = 1.664640
Animate = 0
Initial Screen Size = 800
Frequency amplitude = 0.500000
Frequenct speed = 0.200000
Snapshot delay = 0.050000
Isolevel value = 0.040000
Translation value = 0.200000
Angle change value = 2.000000
Torsion change value = 2.000000
Auto select level = 0
